<!doctype html>
<html lang="zh-cn">
<head>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta charset="UTF-8" />
    <title><%=title%></title>
    <meta name="description" content="<%=description%>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/mobile/stylesheets/swiper.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/index.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/markdown.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <% include common-html/title %>
    <% include common-html/nav %>
    
    <div class="container pt10">
        <div class="row">
            <div class="col-xs-6 portrait">
                <img class="portrait-img" data-echo="<%- addHost(d_picbody) %>" alt="HTML5讲师<%=title%>的头像" />
            </div>
            <div class="col-xs-6 about">
                <dl>
                    <dt>
                        <h1 class="at-name"><%=title%></h1>
                    </dt>
                    <dd class="at-position">
                        <%=d_teazw%>
                    </dd>
                    <dd class="at-btn-access">
                        <a href="<%=d_mblogsource%>" target='_blank' class="btn-access btn-icon btn-radius-l btn-orange">
                            <i class="icon-sina-weibo"></i>
                            <i class="icon-right-open"></i>
                            <span>访问微博</span>
                        </a>
                    </dd>
                    <dd class="at-btn-access">
                        <a href="<%=d_blogsource%>" target='_blank' class="btn-access btn-icon btn-radius-l btn-orange">
                            <i class="icon-rss"></i>
                            <i class="icon-right-open"></i>
                            <span>访问博客</span>
                        </a>
                    </dd>
                </dl>
                

            </div>
        </div>
        <div class="arc-subtitle mt15 mb10">
            <h2>讲师介绍</h2>
        </div>
        <div class="markdown-body gray">
            <%-:d_desc%>
        </div>
    </div>
    <div class="arc-subtitle mt15 mb10">
        <h2>项目案例</h2>
    </div>
    <div class="hlist">
        <div class="hlist-in hlist-project swiper hlist-imgtitle">
            <ul class="swiper-wrapper">
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3512Lc.jpg"></b>
                        <span>PICOOC</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3520Y63.jpg"></b>
                        <span>美食美酒</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F41422R9.jpg"></b>
                        <span>中美商会（网站）</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F4145N44.jpg"></b>
                        <span>HTML5项目</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3512Lc.jpg"></b>
                        <span>PICOOC</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F3520Y63.jpg"></b>
                        <span>美食美酒</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F41422R9.jpg"></b>
                        <span>中美商会（网站）</span>
                    </a>
                </li>
                <li class="swiper-slide prologo">
                    <a href="#">
                        <b><img src="http://www.bkh5.com/uploads/131117/1-13111F4145N44.jpg"></b>
                        <span>HTML5项目</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="arc-subtitle mb10">
        <h2>最新分享</h2>
    </div>
    <ul class="list-text list-text-share">
        <li>
            <a href="#">
                <span>跨平台开发常用CSS3设置</span>
                <i class="icon-right-open"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span>跨平台开发常用CSS3设置</span>
                <i class="icon-right-open"></i>
            </a>
        </li>
    </ul>
    <% include common-html/footer %>

    
    <script src="/mobile/javascripts/echo.js"></script>
    <script src="/mobile/javascripts/zepto.js"></script>
    <script src="/mobile/javascripts/swiper.js"></script>

    <script>
    // a=$('.nav-in').navigator();
    
    // $('.hlist-in').navigator();
    // alert(window.innerHeight)
    
    $.fn._swiper = $.fn.swiper;
    $.fn.swiper = function (opt) {
        this.each(function (i, el) {
            // 把swiper-slide-active的标签滚动到视野范围内
            opt.initialSlide = $(el).find(".swiper-slide-active").index();
            new Swiper(el, opt)
        });
        return this;
    }
    
    $('.swiper').swiper({
        slidesPerView: "auto",
        freeMode: true,
        freeModeFluid: true,
        watchActiveIndex: false
    })
    
    
    // ios7 Safari 的工具条变色动画
    if ($.os.ios && $.os.version.indexOf("7.") == 0) {
        document.documentElement.classList && 
        document.documentElement.classList.add("ios7");
    };
    </script>
</body>
</html>