<!doctype html>
<html lang="zh-cn">
<head>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <meta charset="UTF-8" />
    <title><%=title%></title>
    <meta name="description" content="<%=description%>" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/mobile/stylesheets/swiper.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/index.css" />
    <link rel="stylesheet" href="/mobile/stylesheets/markdown.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <% include common-html/title %>
    <% include common-html/nav %>
    
    <div class="container pt20 mb15">
        <div class="arc-head">
            <h1><%=title%></h1>
            <span><%=pubdate%></span>
        </div>
        <div class="markdown-body">
            <%-replaceUrl(d_con)%>
        </div>
    </div>
    
    <% include common-html/footer %>
 
    <script src="/mobile/javascripts/echo.js"></script>
    <script src="/mobile/javascripts/zepto.js"></script>
    <script src="/mobile/javascripts/swiper.js"></script>

    <script>
    // a=$('.nav-in').navigator();
    
    // $('.hlist-in').navigator();
    // alert(window.innerHeight)
    
    $.fn._swiper = $.fn.swiper;
    $.fn.swiper = function (opt) {
        this.each(function (i, el) {
            // 把swiper-slide-active的标签滚动到视野范围内
            opt.initialSlide = $(el).find(".swiper-slide-active").index();
            new Swiper(el, opt)
        });
        return this;
    }
    
    $('.swiper').swiper({
        slidesPerView: "auto",
        freeMode: true,
        freeModeFluid: true,
        watchActiveIndex: false
    })
    
    
    // ios7 Safari 的工具条变色动画
    if ($.os.ios && $.os.version.indexOf("7.") == 0) {
        document.documentElement.classList && 
        document.documentElement.classList.add("ios7");
    };
    </script>
</body>
</html>